.container {
  padding: 1em;
}
.frame {
  margin: .5em auto;
  border: solid 1em saddlebrown;
  border-bottom: none;
  width: 5em;
  height: 6.5em;
}
.frame.frame--preserve-3d {
  transform-style: preserve-3d;
}
.frame--realistic {
  perspective: 23em;
}

.door {
  height: 100%;
  background: darksalmon;
}
.door--open {
  transform-origin: 0 0 /*whatever y value you wish*/;
  transform: rotate3d(1,0,1,60deg);;
}
.door--close {
  transform-origin: 0 0;
  transform: rotateY(0deg);
}
.door--ani {
  transform-origin: 100% 100%;
  animation: doorani 1.3s ease-in-out infinite alternate;
}
@keyframes doorani {
  0% { transform: rotate3d(1,0,1,60deg); }
  16% { transform: rotate3d(1,1,1,30deg); }
  33% { transform: rotate3d(0,1,1,0deg); }
  100% { transform: rotate3d(0,1,0,-60deg); }
}
