.container {
  padding: 1em;
}

.frame {
  margin: .5em auto;
  border-bottom: none;
  width: 100%;
  height: 100%;
}
.frame.frame--preserve-3d {
  transform-style: preserve-3d;
}
.frame--realistic {
  perspective: 50em;
}
.star {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #aff0ff;
    width: 0px;
    height: 0px;
    border-right:  100px solid transparent;
    border-bottom: 70px  solid #aff0ff;
    border-left:   100px solid transparent;
    transform:    rotate(35deg);
}
.star:before {
    border-bottom: 80px solid #aff0ff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
.star:after {
    position: absolute;
    display: block;
    color: #aff0ff;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #aff0ff;
    border-left: 100px solid transparent;
    content: '';
    transform: rotate(-70deg);
}
.star--spin {
  transform-origin: 50% 50%;
  animation: starspin 1.5s ease-out infinite alternate;
}

.star--ani {
  transform-origin: 50% 0%;
  animation: starrot 1.5s ease-out infinite alternate; # easy-out 是缓动，慢速结尾
}
.star--flash {
  transform-origin: 50% 0%;
  animation: starflash 0.2s ease-out infinite alternate;
}
@keyframes starrot {
  0% { transform: rotate3d(0,1,0,0deg); }
  50% { transform: rotate3d(0,1,0,180deg); }
  100% { transform: rotate3d(0,1,0,360deg); }
}
@keyframes starflash {
  0% { transform: scale3d(1, 1, 1); }
  100% { transform: scale3d(1.3, 1.3, 1.3); }
}
@keyframes starspin {
  0% { transform: rotate3d(0,0,1,0deg); }
  33% { transform: rotate3d(0,0,1,120deg); }
  67% { transform: rotate3d(0,0,1,240deg); }
  100% { transform: rotate3d(0,0,1,360deg); }
}

.star-blue {
  color: #aff0ff;
  border-bottom-color: #aff0ff;
}
.star-blue::before {
  color: #aff0ff;
  border-bottom-color: #aff0ff;
}
.star-blue::after {
  color: #aff0ff;
  border-bottom-color: #aff0ff;
}

.star-yellow {
  color: #ffffaa;
  border-bottom-color: #ffffaa;
}
.star-yellow::before {
  color: #ffffaa;
  border-bottom-color: #ffffaa;
}
.star-yellow::after {
  color: #ffffaa;
  border-bottom-color: #ffffaa;
}

.star-purple {
  color: #fab9ff;
  border-bottom-color: #fab9ff;
}
.star-purple::before {
  color: #fab9ff;
  border-bottom-color: #fab9ff;
}
.star-purple::after {
  color: #fab9ff;
  border-bottom-color: #fab9ff;
}

.star-brown {
  color: #ffebcd;
  border-bottom-color: #ffebcd;
}
.star-brown::before {
  color: #ffebcd;
  border-bottom-color: #ffebcd;
}
.star-brown::after {
  color: #ffebcd;
  border-bottom-color: #ffebcd;
}

.star-green {
  color: #cdffcd;
  border-bottom-color: #cdffcd;
}
.star-green::before {
  color: #cdffcd;
  border-bottom-color: #cdffcd;
}
.star-green::after {
  color: #cdffcd;
  border-bottom-color: #cdffcd;
}
